h1, h2 {
  font-family: Lato;
}
body{
  --base-color: #333333;
}
main{
  display: grid;
  color: #ffffff;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr); */
}

.search__area{
      display: flex;
    margin: 0 auto;
    width: 40%;
    height: 50px;
    padding: 10px;
}
.search__area input {
width: 35%;
    flex-grow: 1;
    padding: 11px;
    border-radius: 10px;
    font-size: 18px;
}
.todo__item{
color: #333333;
display: grid;
grid-template-columns: 1fr max-content max-content;
align-items: center;
grid-gap: 5px;
}
.todo__list{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px 10px;
    width: 35%;
    grid-gap: 10px;
    /* flex-basis: 56%; */
    border: 2px solid #333333;
}
.action__txt{
border: 3px solid #333333;
    padding: 10px;
    font-size: 16px;
}
.edit__btn{
border: 3px solid var(--base-color);
}
.delete__btn{
border: 3px solid var(--base-color);
}

.box1{
  background-color: #163369;
}
.box2{
  background-color: #102022;
}
.box3{
  background-color: #b30c36;
}
.box4{
  background-color: #b3650c;
}